<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- https://jarlib.tistory.com/entry/Mybatis-%EC%84%A4%EC%A0%95-%ED%8C%8C%EC%9D%BC-%EC%98%88%EC%A0%9C -->
<!--
    Mybatis연결을 관리하는 설정파일

    db의 driverManager라거나
    db url, id, pw등을 저장한다

    DBCP가 되어있는지는 확실하지 않다.

    또 각 클래스별 SQL문을 가지고 있는 Mapper.xml의 위치도 지정한다.
 -->
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/> <!-- 카멜표기 -->
        <setting name="callSettersOnNulls" value="true"/>  <!-- null이어도 노출 -->
        <setting name="jdbcTypeForNull" value="NULL"/> <!-- 파라메터 null인 경우 오류방지 -->
    </settings>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.sqlite.JDBC" />
                <property name="url" value="jdbc:sqlite:aniserver.db" />
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/Base.xml" />
        <mapper resource="mapper/Batch.xml" />
        <mapper resource="mapper/User.xml" />
    </mappers>

</configuration>